.input-container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 42px 12px 14px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(186, 106, 0, 0.06);
  color: white;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: var(--accent-orange);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 6px rgba(0, 119, 255, 0.3);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.button-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease;
  padding: 0;
}

.button-toggle:hover {
  color: #fff;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,0.06) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s; /* evita parpadeos */
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,0.1) inset !important;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 16px; */
}

.input-error {
  min-height: 16px;           /* RESERVA el espacio */
  font-size: 0.85rem;
  color: #fb5530;             /* naranja del tema */
  opacity: 0.9;
}
